body {
    background-color: hsl(30, 38%, 92%);
}
.container {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius:10px;
    margin: 20px;
}

.img-child{
    display: flex;
    flex-direction: column;
}

.img_mobile {
    border-radius: 10px 10px 0 0;
}
.img_desktop {
    display:none;
}

h1 {
    color: #aaabb1;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 20px;
}
h2 {
    font-size: 35px;
    font-family: 'Fraunces', serif;
    margin: 10px 20px;
}
p {
    color: #87878c;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 20px;
}
.price {
    display:inline-flex;
    flex-wrap: wrap;
    margin: 0;
}
h3 {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 35px;
    margin: 0;
    padding: 20px;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #aaabb1;
    text-align: justify;
    text-decoration: line-through;
    flex-grow: 1;
    margin: 0;
    padding: 20px;
    
}
button {
    color:white;
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 10px;
    padding: 15px 10px;
    width: 90%;
    margin: 0 0 20px 20px;
   
}
@media (min-width:1440px) {
    
    .container {
        flex-direction: row;
        margin: 400px;
    }
    .img_mobile {
        display: none;
    }
    .img_desktop {
        display: flex;
        border-radius: 10px 0 0 10px;
    
    }
    .img-child{
        width: 50%;
        height: auto;
    }
    .text-child {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }
    button {
        margin: 0 20px;
        width: 90%;
    }
    button:active {
        background-color: hsl(159, 36%, 22%);
    }

}
